:root {
    text-align: center;
}
 
body {
    background-color: #f7f1e3;
    text-align: center;
    color: #303952;
}
 
 
body > div.header > div > h1 {
    background-color: #26de81;
    padding: 10px 10px 30px 10px;
    border: 5px solid white;
    margin: 10px 10px 50px 10px;
}
 
body > p:nth-child(2) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
}
 
br + p {
    color: #fc5c65;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
 
#beispielbox {
    background-color: #20bf6b;
    color: #f7f1e3;
    text-align: center;
    width: 50%;
    padding: 10px 10px 10px 10px;
    border: 5px solid white;
    margin: 1em auto 1em auto;
    display: grid;
    display: block;
    font-size: large;
}

#TextDigitaleZeichnungen {
    color: white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
 
 
.Texte {
    color: #0fb9b1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
}
 
.Links {
    color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}
 
a:hover {
    text-decoration: underline;
    font-style: italic;
    color: #2bcbba;
}
 
a:visited {
    color: #0fb9b1;
}
 
a[href*="contact"] {
    color: #a55eea;
}
 
nav a {
    color: #2d98da;
    border: 5px solid white;
    margin-top: 0em;
    background-color: azure;
    font-size: large;
}
 
img {
    transition: border-width 0.4s;
}
 
 
 
img:first-of-type {
    border: 5px solid #20bf6b;
}
 
img ~ img {
    border: 5px solid #3867d6;
}
 
img:nth-of-type(2) {
    border: 5px solid #fa8231;
}
 
img:hover {
    border-width: 15px;
}
 
object {
    border: 5px solid #fed330;
 
}
 
.flexbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
}
 
.box1 {
    background: #45aaf2;
    border-radius: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    flex: auto;
    color: white;
}
 
.box2 {
    background: #45aaf2;
    border-radius: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    flex: auto;
    color: white;
 
}
 
.box3 {
    background: #45aaf2;
    border-radius: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    flex: auto;
    color: white;
}
 
@media screen and (min-width:1024px) {
    body {
        background-color: white;
    }
}
 
@media screen and (max-width: 600px) {
 
    object,
    video,
    #beispielbox {
        width: 90%;
    }
 
 
    object {
        max-height: 40em;
    }
 
}